<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body style="text-align: center">

<div class="container">
    <h1>Create a Post</h1>
</div>

    <!-- Spring HTML Form Utilizing Form Model Binding: -->
<div class="container">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}" />
        <br />
        Body:
        <textarea th:field="*{body}"></textarea>
        <br />
        <input type="submit" value="Create Post"/>
    </form>
<div>

</body>
</html>