<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show a Post</title>
</head>
<body style="text-align: center">

<div class="container">
    <h1>View your Posts</h1>
</div>

<div class="container">
    Email:
    <span th:text="${user.email}"></span>
</div>

<br />

<div class="container" th:each="post : ${posts}">
    Title:
    <a th:text="${post.title}"></a>
    <br />
    Body:
    <textarea th:text="${post.body}"></textarea>
    <br />
</div>

</body>
</html>